@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

canvas {
    margin: 20px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90%;
}

#title {
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.1em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.text {
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.1em;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    width: 40%;
}

.center {
    align-self: center;
}